{% extends "base_template.html" %}
{% load i18n %}

{% block extra-head %}
<link rel="stylesheet" href="{{ MEDIA_URL }}styles/bootstrap.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}styles/bootstrap-responsive.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}styles/calendar.css" type="text/css">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
{% endblock %}

{% block body %}

<style type="text/css">

@media (max-width: 480px) {
	body {
		background-color: #E1E7FF;
	}
}
</style>

<div class="sign-in-wrap">
	<p>Sign in to <strong>Budget</strong></p>

	<form method="post" action=".">
		{% csrf_token %}
		<input type="text" name="username" autocorrect="off" autocapitalize="off" title="username" />
		<input type="password" name="password" title="password">
		<div class="hug"><input class="btn btn-success" type="submit" value="{% trans 'Sign in now' %}"></div>
	</form>
</div>

<p class="resend-password">
	<a href="{% url auth_password_reset %}">Send me my password</a>
</p>

<p class="sign-up">Don't have a <strong>Budget</strong> account? 
	<a href="{% url registration_register %}">{% trans "Sign up today." %}</a>
</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.hint.js"></script>

<script>
	$(document).ready(function(){
		$('.sign-in-wrap input[title!=""]').hint();
	});
</script>

{% endblock %}
