
{% extends "base_template.html" %}
{% load i18n %}

{% block extra-head %}
<link rel="stylesheet" href="{{ MEDIA_URL }}styles/bootstrap.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}styles/bootstrap-responsive.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}styles/calendar.css" type="text/css">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
{% endblock %}

{% block body %}
<style type="text/css">

@media (max-width: 480px) {
	body {
		background-color: #E1E7FF;
	}
}
</style>

<div class="sign-in-wrap">
	<p>Sign in to <strong>Budget</strong></p>

	<form method="post" action=".">
		{% csrf_token %}
		<input type="email" name="email" title="email" maxlength="75"/>
		<div class="hug"><input class="btn btn-warning" type="submit" value="{% trans 'Reset password' %}"></div>
	</form>

</div>

<p class="sign-up">Don't have a <strong>Budget</strong> account? 
	<a href="{% url registration_register %}">{% trans "Sign up today." %}</a>
</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.hint.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>

<script>
	$(document).ready(function(){
		$('.sign-in-wrap input[title!=""]').hint();
	});
</script>

{% endblock %}
