{% extends "base_template.html" %}
{% load i18n %}

{% block body %}
<div id="leftcolumn_text">
	<form method="post" action=".">
		{{ form.username.errors }}
		{% csrf_token %}
		<div>{{ form.username.label_tag }}:
		{{ form.username }}</div>
		<div>{{ form.email.label_tag }}:
		{{ form.email }}</div>
		<div> {{ form.password1.label_tag }}:
		{{ form.password1 }}</div>
		<div> {{ form.password2.label_tag }}:
		{{ form.password2 }}</div>
		<input type="submit" value="{% trans 'Submit' %}" />
	</form>
</div>
{% endblock %}
