body {
	margin: 0;
}

.alert-success {
	margin: 20px;
}

.auth-wrap {
	text-align: center;
	margin: 20px auto 0;
	background-color: #FFE;
	max-width: 500px;
	padding: 20px;
}

.auth-wrap h1 a {
	color: inherit;
	text-decoration: inherit;
}

.auth-wrap form {
	margin: 10px auto 0;
	max-width: 300px;
}

.auth-wrap input[type="text"],
.auth-wrap input[type="password"],
.auth-wrap input[type="email"] {
	font-size: 16px;
	height: 2em;
}

.resend-password,
.sign-up {
	font-size: 14px;
	margin: 0 auto;
	text-align: center;
}

.resend-password {
	margin-top: 20px;
}

.sign-up {
	margin-top: 10px;
}

.hr {
	height: 1px;
	background-color: #C0C9EB;
	margin-bottom: 10px;
}
table {
	font-size: 12px;
	font-family: Verdana;
	width: 100%;
	border-collapse: collapse;
}
table td {
	vertical-align: top;
}
.menu {
	width: 200px;
	border-right: 1px solid #C0C9EB;
	background-color: #e1e6ff;
	padding: 0;
}
.menu-item {
	color: white;
	padding: 7px 5px;
}
.menu .label {
	width: 85px;
}
.month {
	font-size: 12px;
	font-family: Verdana;
}
.month .header div {
	float: left;
	min-width: 14%;
	border: 1px solid white;
	text-align: center;
}
.month .weekdays {
	border-right: none;
	border-bottom: none;
}
.month .weekdays .today {
	background-color: #FFE;
}
.month .weekdays .today .numeral {
	background-color: #FFD;
}
.month .week {
	min-width: 700px;
	height: 100px;
}
/* top border on calendar */
.month .week:first-child .day {
	border-top: 1px solid #C0C9EB;
}
/* left border on calendar */
.month .day:first-child {
	border-left: 1px solid #C0C9EB;
}
.month .day .numeral {
	background-color:#E1E7FF;
	text-align: right;
	padding-right: 10px;
}
.month .day {
	width: 14%;
	height: 120px;
	height: 100%;
	float: left;
	border-right: 1px solid #C0C9EB;
	border-bottom: 1px solid #C0C9EB;
	overflow: hidden;
}
.day .stock {
	color: white;
	text-align: center;
	padding: 5px;
}
.clear {
	clear: both;
}
.today-link {
	float: left;
	padding: 10px 10px;
}
.month-nav {
	float: left;
	padding: 10px 10px 0 0;
}
.month-name {
	font-size: 1.4em;
	line-height: .9em;
	padding: 10px 0 3px 0;
}
.prev, .next {
	color: white;
	font-size: 1em;
	line-height: 1em;
	text-decoration: none;
	background-color: #82A5FF;
	padding: 0 5px;
}
.menu-counter {
	width: 15px;
	float: left;
	text-align: right;
	margin-top: 6px;
	margin-right: 3px;
}
.mode-wrap {
	top: 10px;
	right: 20px;
	position: absolute;
}
.income-wrap {
	padding: 10px 5px;
}
.income-wrap input {
	width: 90%;
}

.income-wrap .daily-income,
.income-wrap .hourly-income {
	color: #4784a3;
	font-size: .8em;
}
.totals {
	padding: 10px 5px;
	margin-top: 3px;
}
.totals .label {
	float: left;
	text-align: right;
	margin-right: 10px;
	width: 110px;
}
.logout {
	font-size: 10em;
	text-align: center;
}

#mobile-goggles {
	display: none;
}
