/* CSS Document */

#nav {
		
	
	text-align: center;
	color: #00a0c6;
	text-decoration: none;
	
	height: 35px;
	float:left;
	padding: 0px 0px 0px 80px;
	
}
#nav ul {
	
	list-style: none;
	padding: 0;
	
	height: 35px;
	margin: 0px 0px 0px 0px;
	
	
}

#nav a {
	display: block;
	color: #00a0c6;
	text-decoration: none;
	font-size: .9em;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	text-indent: -5px;
	

}
#nav a:hover {
	color: #fff;
	background-image: url(/media/images/navbgbluehover.jpg);
	background-repeat:no-repeat;
	
}

#nav li {
	float: left;
}
#nav li a{
font-size: .9em;
    width: 115px;
	height: 35px;
	line-height: 35px;
	background-image: url(/media/images/navbgyellow.jpg);
	background-repeat:no-repeat;
	padding: 0px 0px 0px 0px;
}

#nav li ul {
	position: absolute;
	left: -999em;
	width: 115px;
	height: 35px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	

}
#nav li ul a {
	
	height: 35px;
	width: 115px;
	color:#FFF;
	padding: 10px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	text-indent: 0px;
	border-left: none;
	line-height: 5px;
	
}

#nav li ul a:hover {
color:#483318;

}

/*#nav li ul ul {
	width: 100px;
	margin-left: 209px;
	margin-top: -31px;
}*/


#nav li:hover ul ul, #nav li:hover ul ul ul{
	left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul  {
display: block;
	left: auto;
}