{% load humanize %}
<!doctype>

<html>
<head>
    <title>Budget Summary</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}styles/mobile/calendar.css">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
</head>

<body>

<div class="menu">

        <div class="item-wrap income">
            <div class="label">Income</div>
            <div class="amount">&#36;{{ income.amount|floatformat:"0"|intcomma }}</div>
            <div class="hourly daily yearly">
                <span class="hourly">Hourly ${{ income_hourly|floatformat:"2" }}</span>
                <span class="daily">Daily ${{ income_daily|floatformat:"2" }}</span>
                <span class="yearly">Yearly ${{ income_yearly|floatformat:"0"|intcomma }}</span>
            </div>
        </div>

        <div class="item-wrap expense">
            <div class="label">Expenses</div>
            <div class="amount">&#36;{{ total_expense|floatformat:"0"|intcomma }}</div>
            <div class="hourly daily yearly">
                <span class="hourly">Hourly ${{ expense_hourly|floatformat:"2" }}</span>
                <span class="daily">Daily ${{ expense_daily|floatformat:"2" }}</span>
                <span class="yearly">Yearly ${{ expense_yearly|floatformat:"0"|intcomma }}</span>
            </div>
        </div>

        <div class="item-wrap net-income">
            <div class="label">Net Income</div>
            <div class="amount">&#36;{{ net_income|floatformat:"0"|intcomma }}</div>
            <div class="hourly daily yearly">
                <span class="hourly">Hourly ${{ net_hours|floatformat:"2" }}</span>
                <span class="daily">Daily ${{ net_days|floatformat:"2" }}</span>
                <span class="yearly">Yearly ${{ net_years|floatformat:"0"|intcomma }}</span>
            </div>
        </div>
</div>

</body>

</html>
