{% load humanize %}
<!doctype>

<html>
<head>
    <title>Budget Summary</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}styles/mobile/calendar.css">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
</head>

<body>

<div class="awesome-bar">
    <div class="month-nav">
        <div class="today-link"><a href="{% url time-spent %}">Today</a></div>
        <div class="month-prev-next">
            <a class="prev" href="{{ prev_month_url }}">&larr;</a> 
            <a class="next" href="{{ next_month_url }}">&rarr;</a>
        </div>
        <span>{{ month_name }} {{ year_int }}</span>
    </div>
{% if user %}
    <!-- <a class="sign-out" href="{% url auth_logout %}">sign out</a> -->
{% else %}
    <span>This is a demo.</span>
    <a href="javascript:;">reset demo</a>
    <a href="{% url registration_register %}">sign up</a>
    <a href="{% url auth_login %}">sign in</a>
{% endif %}
</div>

<div class="menu">
        <div class="item-wrap income">
            <div class="label">Income</div>
            <div class="amount">
                <a href="{% url income %}" data-transition="slide">&#36;{{ income.amount|floatformat:"0"|intcomma }}</a>
            </div>
            <div class="hourly daily yearly">
                <span class="hourly">Hourly ${{ income_hourly|floatformat:"2" }}</span>
                <span class="daily">Daily ${{ income_daily|floatformat:"2" }}</span>
                <span class="yearly">Yearly ${{ income_yearly|floatformat:"0"|intcomma }}</span>
            </div>
        </div>
        <div class="item-wrap expense">
            <div class="label">Expenses</div>
            <div class="amount">
                <a href="{% url expenses %}" data-transition="none">&#36;{{ total_expense|floatformat:"0"|intcomma }}</a>
            </div>
            <div class="hourly daily yearly">
                <span class="hourly">Hourly ${{ expense_hourly|floatformat:"2" }}</span>
                <span class="daily">Daily ${{ expense_daily|floatformat:"2" }}</span>
                <span class="yearly">Yearly ${{ expense_yearly|floatformat:"0"|intcomma }}</span>
            </div>
        </div>
        <div class="item-wrap net-income">
            <div class="label">Net Income</div>
            <div class="amount">
                <a href="{% url net-income %}">&#36;{{ net_income|floatformat:"0"|intcomma }}</a>
            </div>
            <div class="hourly daily yearly">
                <span class="hourly">Hourly ${{ net_hours|floatformat:"2" }}</span>
                <span class="daily">Daily ${{ net_days|floatformat:"2" }}</span>
                <span class="yearly">Yearly ${{ net_years|floatformat:"0"|intcomma }}</span>
            </div>
        </div>
</div>

</body>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
$('.item-wrap').click(function(){
    window.location=$(this).find('a').attr('href');
    return false;
});
</script>

</html>
