{% load time_spent_tags %}
{% load humanize %}

<!doctype>

<html>
<head>
    <title>Expense</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}styles/mobile/calendar.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}styles/mobile.css" type="text/css">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
</head>

<body>

<div class="awesome-bar">
    <div class="month-nav">
        <div class="back-link"><a href="{% url homepage %}">Home</a></div>

        {% if not total_expense %}
        <div class="expense">
            <a href="{% url expenses-quick-start %}">
                Example expenses</a>
        </div>
        {% else %}

            {% if net_income.is_positive %}
                <div class="expense">
                    ${{ net_income.monthly|floatformat:'0'|intcomma }} left for your <a href="{% url net-income %}">wish list</a>
                </div>
            {% elif net_income.is_zero %}
                <div class="expense">You're living paycheck to paycheck.</div>
            {% else %}
                <div class="expense">
                    You're losing {{ net_income.monthly|absolute|floatformat:'0'|intcomma }} a month
                </div>
            {% endif %}


        {% endif %}
    </div>
</div>

<div class="menu expense">
    <form action="" method="post" accept-charset="utf-8">

        {% csrf_token %}

        {% for expense in expenses %}
        <div style="background-color:{{ expense.color }}" class="menu-item">

            <input class="color" type="hidden" name="stock-item-color" value="{{ expense.color }}">
            <input class="pk" type="hidden" name="stock-item-pk" value="{{ expense.pk }}">

            <input class="label" type="text" name="stock-item-label" value="{{ expense.label }}">
            $<input class="cost" type="number" size="7" name="stock-item-amount" value="{{ expense.amount|floatformat:"2" }}">
            <div>

                {% if expense.amount %}
                    {% for t in expense.time %}

                        {% if t and forloop.counter == 1 %}
                            {{ t|floatformat:"0" }}
                            day{{ t|pluralize }}
                        {% endif %}

                        {% if t and forloop.counter == 2 %}
                            {{ t|floatformat:"0" }}
                            hour{{ t|pluralize }}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    No time at all
                {% endif %}


                {% if expense.percent %}
                {{ expense.percent|floatformat:'0' }}%
                {% endif %}

            </div>
        </div>
        {% endfor %}

        <p>Total ${{ total_expense|floatformat:"0"|intcomma }}
        {% if total_expense %} | {% endif %}
        {% for t in total_expense_time %}

            {% if t and forloop.counter == 1 %}
                {{ t|floatformat:"0" }}
                day{{ t|pluralize }}
            {% endif %}

            {% if t and forloop.counter == 2 %}
                {{ t|floatformat:"0" }}
                hour{{ t|pluralize }}
            {% endif %}
        {% empty %}
            No time at all
        {% endfor %}
        </p>

        <p>
            <input type="submit" value="Save changes">
            <a href="{% url homepage %}">I'm done, let's go home</a>
        </p>
    </form>
</div>

</body>

</html>
