{% load humanize %}
<!doctype>

<html>
<head>
    <title>Net Income</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}styles/mobile/calendar.css">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
</head>

<body>

<div class="awesome-bar">
    <div class="month-nav">
        <div class="back-link"><a href="{% url homepage %}">Back</a></div>
    </div>
</div>

<form action="{% url wish %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Make wish">
</form>

</body>

</html>
